@import url(https://fonts.googleapis.com/css?family=Amatic+SC:700|Muli);
// font-family: 'Amatic SC', cursive;
// font-family: 'Muli', sans-serif;


// $bkg: rgba(25,46,71,1);
// $green1: rgba(104,166,145,1);
// $green2: rgba(191,211,193,1);
// $peach: rgba(255,229,212,1);
// $pink: rgba(239,199,194,1);


$bkg: rgba(56,31,36,1);
$blue: rgba(52,198,204,.2);
$green: rgba(109,255,181,1);
$light-pink: rgba(255,154,171,1);
$dark-pink: rgba(204,52,152,1);
$white: rgba(255,255,255,.6);
$full-white: rgba(255,255,255,1);